:host {
  flex: content;
  align-self: stretch;
  transition: all ease 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    z-index: 999;
  }
}

.gallery-card {
  height: inherit;

  img {
    object-fit: cover;
    height: calc(100% - 7rem);
    width: auto;
    opacity: 0;
    transition: all 0.2s ease;

    &.visible {
      opacity: 1;
    }
  }

  mat-card-header {
    height: 2.25rem;
    padding-bottom: 1rem;
  }

  mat-card-actions {
    height: 1.75rem;
    padding: 1rem 0.5rem 0.5rem;

    button {
      font-size: 0.6rem;
    }
  }
}
