@import '../../../../styles/variables.scss';

.slider-container {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0.5rem 1rem;
  background-color: $light-grey-1;

  .label-container {
    display: flex;
    justify-content: space-between;
  }

  mat-slider {
    width: 15rem;
  }
}
