@use '@angular/material' as mat;
@import 'variables';

@include mat.core();

$serviceplan-angular-test-primary: mat.define-palette(mat.$grey-palette);
$serviceplan-angular-test-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$serviceplan-angular-test-warn: mat.define-palette(mat.$red-palette);

$serviceplan-angular-test-theme: mat.define-light-theme((
  color: (
    primary: $serviceplan-angular-test-primary,
    accent: $serviceplan-angular-test-accent,
    warn: $serviceplan-angular-test-warn,
  )
));

@include mat.all-component-themes($serviceplan-angular-test-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $light-grey-2;
}

.header {
  position: fixed;
  top: 0;
  justify-content: space-between;
  min-height: 15vh;
  background-color: $light-grey-2;
  z-index: 1000;

  &.mat-toolbar-single-row {
    padding: 0 3rem;
  }
}
